
<!DOCTYPE html>
<%
flavors = ["Chocolate", "Vanilla", "Salted Caramel"];
%>
<html>
<head>
	<script>
function numberSorter(a, b) {
  return a - b;
}
	
	var round = 1;
	var roundMatchups = 8;
	var roundMatchupNumber = 1;
	var seedLeft = 0;
	var seedRight = 15;
	var winningSeeds = new Array();
var sweetSixteen = ["1Chocolate", "2Cookie & Cream", "3Vanilla","4Wedding Cake", "5Nutella Marshmallow", "6Strawberry","7Salted Caramel", "8King Cake", "9Mint Chocolate Chip","10Peanut Butter Chocolate Chip", "11Blueberry Cheesecake", "12Espresso", "13Apple Pie", "14 seed", "15 seed", "16 seed"];
var eliteEight = new Array();
var finalFour = new Array();
var championship = new Array();
var activeBracket = sweetSixteen;
	function initializeVoter(){
			
document.getElementById('matchupLeft').innerHTML = sweetSixteen[0];  
document.getElementById('matchupRight').innerHTML = sweetSixteen[15]; 
	}
	
	function vote(vote){
		if(vote == "left"){
			winningSeeds.push(seedLeft); 
		}
		else{
			winningSeeds.push(seedRight); 
		}
		seedLeft++
		seedRight--;
		roundMatchupNumber++;
		
		if(roundMatchupNumber > roundMatchups){
			generateNextRound();
		}
		else{
			presentNextMatchup();
		}
	}

	function presentNextMatchup(){
		if(round==5){presentWinner();}
		else{
			document.getElementById('matchupLeft').innerHTML = activeBracket[seedLeft]; 
			document.getElementById('matchupRight').innerHTML = activeBracket[seedRight]; 
		}
	}

	function presentWinner(){
			document.getElementById('winner').innerHTML = championship[seedLeft]; 
			document.getElementById('winner').style.display = "block";
			document.getElementById('matchups').style.visibility = "hidden";
	}

	function generateNextRound(){

			round++;
			roundMatchups = winningSeeds.length / 2;
			activeBracket = [];
			seedLeft = 0;
			seedRight = winningSeeds.length - 1;
			roundMatchupNumber = 1;
			
			//console.log(winningSeeds);
			winningSeeds.sort(function(a,b){return a - b});
			//console.log(winningSeeds);

			if(round == 2){ ///Eite Eight
			for (index = 0; index < winningSeeds.length; ++index) {
				
    			eliteEight.push(sweetSixteen[winningSeeds[index]]);
			}
			activeBracket = eliteEight;
		}

			if(round == 3){ //Final Four
			for (index = 0; index < winningSeeds.length; ++index) {
				
    			finalFour.push(eliteEight[winningSeeds[index]]);
			}
			activeBracket = finalFour;
		}


			if(round == 4){ //championship
			for (index = 0; index < winningSeeds.length; ++index) {
				
    			championship.push(finalFour[winningSeeds[index]]);
    				
			}
			activeBracket = championship;
		}
		

			winningSeeds = [];

			presentNextMatchup();
	}

	function myFunction(id)
{
	var flavorChoice;
	if(document.getElementById(id).className == "flavorOptionsOn"){
		document.getElementsByClassName('your class');  
	}
	if(flavorChoice)
	document.getElementById(flavorChoice).className = "flavorOptionsOff";
	else
	document.getElementById("sectionTwo").style.visibility = "visible";

flavorChoice = id;
document.getElementById(flavorChoice).className = "flavorOptionsOn";

}

</script>
<title>Atomic Burger Sweet Sixteen Tournament</title>
</head>

<body onload="initializeVoter();">
<div class="header"></div>
<div style="height:5px; background-color:#B68076;"></div>
<div class="blueSubHeader">Sweet Sixteen Tournament</div>

<div class="section" style="display:none;" id="winner"></div>
<div class="section" id="matchups">
	<div id="matchupLeft" onclick="vote('left')"></div>
	<div id="matchupRight" onclick="vote('right')"></div>
</div>




<div class="section" style="visibility:hidden">
	<div class="circle"><span class="circleNumber">1</span></div>
	<div class="sectionTitle">What's your favorite flavor?</div>
	<div class="flavorOptionsSection">
		<% flavors.each do |flavor| %>
		<div onclick="myFunction('<%= flavor %>')" class="flavorOptionsOff" id="<%= flavor %>">
			<%= flavor %>
		</div>
		<% end %>
		
	</div>
	<div style="clear:both"></div>
</div>

<div class="section" style="visibility:hidden" id="sectionTwo">
	<div class="circle"><span class="circleNumber">2</span></div>
	<div class="sectionTitle">Fill out your bracket</div>

	<table>
<tr>
  <td class="flavor on" >Chocolate</td>
  <td></td>
   <td ></td>
    <td class="flavor off" style="position:relative; top:30px;"></td>
  <td class="flavor on">Vanilla</td>
</tr>
<tr>
   <td class="flavor off" >Strawberry</td>
   <td class="flavor off" style="position:relative; bottom:30px;"></td>
   <td class="flavor off" style="position:relative; top:50px;"></td> 
    <td ></td>
  <td class="flavor off">Espresso</td>
</tr>
<tr style="height:70px"> </tr>
<tr>
   <td class="flavor off" >Mint</td>
<td class="flavor off" style="position:relative; top:30px;"></td>
 <td ></td>
<td class="flavor off" style="position:relative; top:30px;"></td>
  <td class="flavor off">Blueberry</td>
</tr>
<tr>
   <td class="flavor off" >Nutella</td>
  <td ></td>
   <td ></td>
   <td></td>
  <td class="flavor off">Peanut Butter</td>
</tr>
</table>


<div style="clear:both"></div>
</div>

<div class="section" style="visibility:hidden">
	<div class="circle"><span class="circleNumber">3</span></div>
	<div class="sectionTitle">Enter your email</div>
<div style="clear:both"></div>
</div>

<div class="section">
<div class="btnSubmit">
	submit
</div>
</div>
</body>

</html>
