
<!DOCTYPE html>
<%
flavors = ["Chocolate", "Vanilla", "Salted Caramel"];
%>
<html>
<head>
	<script>
	

function numberSorter(a, b) {
  return a - b;
}
	
	var round = 1;
	var roundMatchups = 8;
	var roundMatchupNumber = 1;
	var seedLeft = 0;
	var seedRight = 15;
	var winningSeeds = new Array();
var sweetSixteen = ["Chocolate", "Cookie & Cream", "Vanilla","Wedding Cake", "Nutella Marshmallow", "Strawberry","Salted Caramel", "King Cake", "Mint Chocolate Chip","Peanut Butter Chocolate Chip", "Blueberry Cheesecake", "Espresso", "Apple Pie", "14 seed", "15 seed", "16 seed"];
var eliteEight = new Array();
var finalFour = new Array();
var championship = new Array();
var activeBracket = sweetSixteen;


function Flavor(flavor,seed, matchup){
	this.flavor = flavor;
	this.seed = seed;
	this.stillAlive = 1;
	this.round = 1;
	this.matchup = matchup;
}
Flavor.prototype.advance = function(){
	this.round = this.round + 1;
	console.log("her");
	this.matchup.addTo(this);
}
function getflavor(flavor){
	console.log("her");
	console.log(flavor.seed);
}



function Matchup(favorite,underdog, target){
	this.favorite = favorite;
	this.underdog = underdog;
	this.targetPos = target;
	}
	Matchup.prototype.advance = function(winner){
		if(winner == "favorite"){
			document.getElementById(this.targetPos).innerHTML = document.getElementById(this.favorite).innerHTML;
			document.getElementById(this.targetPos).className = "flavorOptionsOn";
		}
		else{
			document.getElementById(this.targetPos).innerHTML = document.getElementById(this.underdog).innerHTML;
			document.getElementById(this.targetPos).className = "flavorOptionsOn";
		}

	}

var championship = new Matchup('championshipFavorite','championshipUnderdog', null);
var ffOne = new Matchup('ffOneFavorite','ffOneUnderdog', 'championshipFavorite');
var ffTwo = new Matchup('ffTwoFavorite','ffTwoUnderdog', 'championshipUnderdog');

var eeOne = new Matchup('eeOneFavorite','eeOneUnderdog', 'ffOneFavorite');
var eeTwo = new Matchup('eeTwoFavorite','eeTwoUnderdog', 'ffOneUnderdog');
var eeThree = new Matchup('eeThreeFavorite','eeThreeUnderdog', 'ffTwoFavorite');
var eeFour = new Matchup('eeFourFavorite','eeFourUnderdog', 'ffTwoUnderdog');

var ssOne = new Matchup('ssOneFavorite','ssOneUnderdog',  'eeOneFavorite');
var ssTwo = new Matchup('ssTwoFavorite','ssTwoUnderdog',  'eeOneUnderdog');
var ssThree = new Matchup('ssThreeFavorite','ssThreeUnderdog', 'eeTwoFavorite');
var ssFour = new Matchup('ssFourFavorite','ssFourUnderdog','eeTwoUnderdog');

var ssFive = new Matchup('ssFiveFavorite','ssFiveUnderdog',  'eeThreeFavorite');
var ssSix = new Matchup('ssSixFavorite','ssSixUnderdog',  'eeThreeUnderdog');
var ssSeven = new Matchup('ssSevenFavorite','ssSevenUnderdog', 'eeFourFavorite');
var ssEight = new Matchup('ssEightFavorite','ssEightUnderdog','eeFourUnderdog');

var chocolate = new Flavor("chocolate",1);
ssOne.flavorOne = chocolate;
var kingCake= new Flavor("king cake",16);
ssOne.flavorTwo = kingCake;
//var ssOne = new Matchup(chocolate, kingCake);
//ssOne.nextMatchupId = eeOne;

//var strawberry = new Flavor("strawberry",2);
//var vanilla = new Flavor("vanilla",15);



	function initializeVoter(){

			for (index = 0; index < sweetSixteen.length; ++index) {
				var n = index + 1;
				var str = '16_' + n;
				
				document.getElementById(str).innerHTML = sweetSixteen[index];
				var matchupOne = new Matchup(0,15);
				console.log(sweetSixteen[matchupOne.seedOne]);
			}


document.getElementById('matchupLeft').innerHTML = sweetSixteen[0];  
document.getElementById('matchupRight').innerHTML = sweetSixteen[15]; 
	}
	
	function vote(vote){
		if(vote == "left"){
			winningSeeds.push(seedLeft);
			var str = '16_' + (seedRight + 1);
		
			document.getElementById(str).className = "flavorOptionsOff"; 
		}
		else{
			winningSeeds.push(seedRight); 
			var str = '16_' + (seedLeft + 1);
	
			document.getElementById(str).className = "flavorOptionsOff"; 
		}
		seedLeft++
		seedRight--;
		roundMatchupNumber++;
		
		if(roundMatchupNumber > roundMatchups){
			generateNextRound();
		}
		else{
			presentNextMatchup();
		}
	}

	function presentNextMatchup(){
		if(round==5){presentWinner();}
		else{
			document.getElementById('matchupLeft').innerHTML = activeBracket[seedLeft]; 
			document.getElementById('matchupRight').innerHTML = activeBracket[seedRight]; 
		}
	}

	function presentWinner(){
			document.getElementById('winner').innerHTML = championship[seedLeft]; 
			document.getElementById('winner').style.display = "block";
			document.getElementById('matchups').style.visibility = "hidden";
	}

	function generateNextRound(){

			round++;
			roundMatchups = winningSeeds.length / 2;
			activeBracket = [];
			seedLeft = 0;
			seedRight = winningSeeds.length - 1;
			roundMatchupNumber = 1;
			
			//console.log(winningSeeds);
			winningSeeds.sort(function(a,b){return a - b});
			//console.log(winningSeeds);

			if(round == 2){ ///Eite Eight
			for (index = 0; index < winningSeeds.length; ++index) {
    			eliteEight.push(sweetSixteen[winningSeeds[index]]);
			}
			populateEliteEight();
			document.getElementById('round').innerHTML= "Elite Eight";
			activeBracket = eliteEight;
		}

			if(round == 3){ //Final Four
			for (index = 0; index < winningSeeds.length; ++index) {
				
    			finalFour.push(eliteEight[winningSeeds[index]]);
			}
			activeBracket = finalFour;
		
			document.getElementById('round').innerHTML= "Final Four";
		}


			if(round == 4){ //championship
			for (index = 0; index < winningSeeds.length; ++index) {
				
    			championship.push(finalFour[winningSeeds[index]]);
    				
			}
			activeBracket = championship;
			document.getElementById('round').innerHTML= "Championship!";
		}
		

			winningSeeds = [];

			presentNextMatchup();
	}

	function populateEliteEight(){

			for (index = 0; index < eliteEight.length; ++index) {
				var n = index + 1;
				var str = '8_' + n;
				console.log(winningSeeds);
				document.getElementById(str).innerHTML = eliteEight[index];
				
			}
	}

	function myFunction(id)
{
	var flavorChoice;
	if(document.getElementById(id).className == "flavorOptionsOn"){
		document.getElementsByClassName('your class');  
	}
	if(flavorChoice)
	document.getElementById(flavorChoice).className = "flavorOptionsOff";
	else
	document.getElementById("sectionTwo").style.visibility = "visible";

flavorChoice = id;
document.getElementById(flavorChoice).className = "flavorOptionsOn";

}

</script>
<title>Atomic Burger Sweet Sixteen Tournament</title>
</head>

<body>
<div class="header"><div class="logo"></div></div>
<div style="height:5px; background-color:#B68076;"></div>
<div class="blueSubHeader"><div class="subHeaderText">Sweet Sixteen Tournament</div></div>

<div class="container" style="display:none">
	
<div class="section" style="display:none;" id="winner"></div>
<div class="circleNumber" id="round" style="height:20px; width:500px;font-size:18px; color:#555;margin-left:auto; margin-right:auto; text-align:center;">Sweet Sixteen</div>
<div class="section" id="matchups" style="width:470px; margin-top:15px; margin-left:auto; margin-right:auto; height:150px;">

	<div id="matchupLeft" class="flavorOptionsOff" onclick="vote('left')"></div>
	<div class="circleNumber" style="float:left; padding-top:5px; margin-left:12px; text-align:center; color:#333;">vs</div>
	<div id="matchupRight" class="flavorOptionsOff" style="float:right" onclick="vote('right')"></div>
	<div style="clear:both"></div>
</div>
</div>





<div style="width:900px; margin-left:auto; margin-right:auto; margin-top:20px;" id="sectionTwo">


	<table>
		<tr>
	<td class="flavorOptionsOn" onclick="ssOne.advance('favorite')"  id="ssOneFavorite">Chocolate</td>
   <td ></td>
  <td ></td>
   <td ></td>
   <td></td>
  <td></td>
  <td  class="flavorOptionsOn" onclick="ssFive.advance('favorite')"  id="ssFiveFavorite">Mint</td>
</tr>

<tr>
		<td class="flavorOptionsOn" onclick="ssOne.advance('underdog')"  id="ssOneUnderdog">King Cake</td>
  <td  class="flavorOptionsOff" onclick="eeOne.advance('favorite')"  id="eeOneFavorite"></td>
  <td></td>
   <td ></td>
    <td class="flavorOptionsOff"  onclick="ffTwo.advance('favorite')"  id="ffTwoFavorite"></td>
  <td class="flavorOptionsOff" onclick="eeThree.advance('favorite')" id="eeThreeFavorite"></td>
 	<td class="flavorOptionsOn" onclick="ssFive.advance('underdog')"  id="ssFiveUnderdog">Peanut Butter</td>
</tr>


<tr>
		<td class="flavorOptionsOn" onclick="ssTwo.advance('favorite')" id="ssTwoFavorite">Vanilla</td>
   <td  class="flavorOptionsOff" onclick="eeOne.advance('underdog')" id="eeOneUnderdog"></td>
   <td class="flavorOptionsOff" onclick="ffOne.advance('favorite')"  id="ffOneFavorite"></td>
   <td class="flavorOptionsOff" onclick="championship.advance('favorite')"  id="championshipFavorite"></td> 
    <td ></td>
   <td class="flavorOptionsOff" onclick="eeThree.advance('underdog')" id="eeThreeUnderdog"></td>
 	<td class="flavorOptionsOn" onclick="ssSix.advance('favorite')"  id="ssSixFavorite">Blueberry</td>
</tr>
<tr>
	<td class="flavorOptionsOn" onclick="ssTwo.advance('underdog')" id="ssTwoUnderdog">Strawberry</td>
   <td ></td>
  <td ></td>
   <td ></td>
   <td></td>
  <td></td>
  <td  class="flavorOptionsOn" onclick="ssSix.advance('underdog')"  id="ssSixUnderdog">Cookies n Cream</td>
</tr>

<tr>
		<td class="flavorOptionsOn"  onclick="ssThree.advance('favorite')"  id="ssThreeFavorite">Wedding Cake</td>
   <td class="flavorOptionsOff" onclick="eeTwo.advance('favorite')" id="eeTwoFavorite"></td>
<td class="flavorOptionsOff" onclick="ffOne.advance('underdog')" id="ffOneUnderdog"></td>
  <td class="flavorOptionsOff"  id="championshipUnderdog" ></td> 
<td class="flavorOptionsOff" onclick="ffTwo.advance('underdog')" id="ffTwoUnderdog"></td>
   <td class="flavorOptionsOff" onclick="eeFour.advance('favorite')" id="eeFourFavorite"></td>
 	<td class="flavorOptionsOn" onclick="ssSeven.advance('favorite')"  id="ssSevenFavorite">Salted Caramel</td>
</tr>
<tr>
		<td class="flavorOptionsOn" onclick="ssThree.advance('underdog')"  id="ssThreeUnderdog">16_12</td>
   <td class="flavorOptionsOff" onclick="eeTwo.advance('underdog')" id="eeTwoUnderdog"></td>
  <td ></td>
   <td ></td>
   <td></td>
 <td class="flavorOptionsOff" onclick="eeFour.advance('underdog')" id="eeFourUnderdog"></td>
	<td class="flavorOptionsOn" onclick="ssSeven.advance('underdog')"  id="ssSevenUnderdog">Apple Pie</td>
</tr>
<tr>
	<td class="flavorOptionsOn" onclick="ssFour.advance('favorite')"  id="ssFourFavorite">16_7</td>
   <td ></td>
  <td ></td>
   <td ></td>
   <td></td>
  <td></td>
  <td  class="flavorOptionsOn" onclick="ssEight.advance('favorite')"  id="ssEightFavorite">Espresso</td>
</tr>
<tr>
	<td class="flavorOptionsOn" onclick="ssFour.advance('underdog')"  id="ssFourUnderdog">16_10</td>
   <td ></td>
  <td ></td>
   <td ></td>
   <td></td>
  <td></td>
  <td  class="flavorOptionsOn" onclick="ssSeven.advance('underdog')"  id="ssSevenUnderdog">StrawberryCheesecake</td>
</tr>
</table>


<div style="clear:both"></div>
</div>

<div class="section" style="visibility:hidden">
	<div class="circle"><span class="circleNumber">3</span></div>
	<div class="sectionTitle">Enter your email</div>
<div style="clear:both"></div>
</div>

<div class="section">
<div class="btnSubmit">
	submit
</div>
</div>
</body>

</html>
