
<!DOCTYPE html>
<%
flavors = ["Chocolate", "Vanilla", "Salted Caramel"];
%>
<html>
<head>
	<script>
	function initializeVoter(){
		var sweetSixteen = ["Chocolate", "Cookie & Cream", "Vanilla","Wedding Cake", "Nutella Marshmallow", "Strawberry","Salted Caramel", "King Cake", "Mint Chocolate Chip","Peanut Butter Chocolate Chip", "Blueberry Cheesecake", "Espresso", "Apple Pie", "14 seed", "15 seed", "16 seed"];

document.getElementsById('matchupLeft').innerHTML = sweetSixteen[0];  

document.getElementsById('matchupRight').innerHTML = sweetSixteen[15]; 
	}
	
	
	function myFunction(id)
{
	var flavorChoice;
	if(document.getElementById(id).className == "flavorOptionsOn"){
		document.getElementsByClassName('your class');  
	}
	if(flavorChoice)
	document.getElementById(flavorChoice).className = "flavorOptionsOff";
	else
	document.getElementById("sectionTwo").style.visibility = "visible";

flavorChoice = id;
document.getElementById(flavorChoice).className = "flavorOptionsOn";


}
</script>
<title>Atomic Burger Sweet Sixteen Tournament</title>
</head>

<body onload="initializeVoter();">
<div class="header"></div>
<div style="height:5px; background-color:#B68076;"></div>
<div class="blueSubHeader">Sweet Sixteen Tournament</div>

<div class="section">
	<div id="matchupLeft">left</div>
	<div id="matchupRight">right</div>
	</div>
<div class="section" style="visibility:hidden">
	<div class="circle"><span class="circleNumber">1</span></div>
	<div class="sectionTitle">What's your favorite flavor?</div>
	<div class="flavorOptionsSection">
		<% flavors.each do |flavor| %>
		<div onclick="myFunction('<%= flavor %>')" class="flavorOptionsOff" id="<%= flavor %>">
			<%= flavor %>
		</div>
		<% end %>
		
	</div>
	<div style="clear:both"></div>
</div>

<div class="section" style="visibility:hidden" id="sectionTwo">
	<div class="circle"><span class="circleNumber">2</span></div>
	<div class="sectionTitle">Fill out your bracket</div>

	<table>
<tr>
  <td class="flavor on" >Chocolate</td>
  <td></td>
   <td ></td>
    <td class="flavor off" style="position:relative; top:30px;"></td>
  <td class="flavor on">Vanilla</td>
</tr>
<tr>
   <td class="flavor off" >Strawberry</td>
   <td class="flavor off" style="position:relative; bottom:30px;"></td>
   <td class="flavor off" style="position:relative; top:50px;"></td> 
    <td ></td>
  <td class="flavor off">Espresso</td>
</tr>
<tr style="height:70px"> </tr>
<tr>
   <td class="flavor off" >Mint</td>
<td class="flavor off" style="position:relative; top:30px;"></td>
 <td ></td>
<td class="flavor off" style="position:relative; top:30px;"></td>
  <td class="flavor off">Blueberry</td>
</tr>
<tr>
   <td class="flavor off" >Nutella</td>
  <td ></td>
   <td ></td>
   <td></td>
  <td class="flavor off">Peanut Butter</td>
</tr>
</table>


<div style="clear:both"></div>
</div>

<div class="section" style="visibility:hidden">
	<div class="circle"><span class="circleNumber">3</span></div>
	<div class="sectionTitle">Enter your email</div>
<div style="clear:both"></div>
</div>

<div class="section">
<div class="btnSubmit">
	submit
</div>
</div>
</body>

</html>
