
<!DOCTYPE html>
<html>
<head>
	<script>
	
function Matchup(favorite,underdog, target){
	this.favorite = favorite;
	this.underdog = underdog;
	this.targetPos = target;
	}
	Matchup.prototype.advance = function(winner){
		if(winner == "favorite"){
			document.getElementById(this.targetPos).innerHTML = document.getElementById(this.favorite).innerHTML;
			document.getElementById(this.targetPos).className = "flavorOptionsOn";
		}
		else{
			document.getElementById(this.targetPos).innerHTML = document.getElementById(this.underdog).innerHTML;
			document.getElementById(this.targetPos).className = "flavorOptionsOn";
		}

	}

var championship = new Matchup('championshipFavorite','championshipUnderdog', null);
var ffOne = new Matchup('ffOneFavorite','ffOneUnderdog', 'championshipFavorite');
var ffTwo = new Matchup('ffTwoFavorite','ffTwoUnderdog', 'championshipUnderdog');

var eeOne = new Matchup('eeOneFavorite','eeOneUnderdog', 'ffOneFavorite');
var eeTwo = new Matchup('eeTwoFavorite','eeTwoUnderdog', 'ffOneUnderdog');
var eeThree = new Matchup('eeThreeFavorite','eeThreeUnderdog', 'ffTwoFavorite');
var eeFour = new Matchup('eeFourFavorite','eeFourUnderdog', 'ffTwoUnderdog');

var ssOne = new Matchup('ssOneFavorite','ssOneUnderdog',  'eeOneFavorite');
var ssTwo = new Matchup('ssTwoFavorite','ssTwoUnderdog',  'eeOneUnderdog');
var ssThree = new Matchup('ssThreeFavorite','ssThreeUnderdog', 'eeTwoFavorite');
var ssFour = new Matchup('ssFourFavorite','ssFourUnderdog','eeTwoUnderdog');

var ssFive = new Matchup('ssFiveFavorite','ssFiveUnderdog',  'eeThreeFavorite');
var ssSix = new Matchup('ssSixFavorite','ssSixUnderdog',  'eeThreeUnderdog');
var ssSeven = new Matchup('ssSevenFavorite','ssSevenUnderdog', 'eeFourFavorite');
var ssEight = new Matchup('ssEightFavorite','ssEightUnderdog','eeFourUnderdog');

</script>

<title>Atomic Burger Sweet Sixteen Tournament</title>
</head>

<body>
<div class="header"><div class="logo"></div></div>
<div style="height:5px; background-color:#B68076;"></div>
<div class="blueSubHeader"><div class="subHeaderText">Sweet Sixteen Tournament</div></div>






<div class="container">
	<div class="welcome">
		<div class="picCircle"></div>
		<h1 style="margin-top:5px;">Hi Person!</h1>
		<h2>Welcome to our sweet sixteen tournament!</h2>
	</div>
	<div class="whiteBox">
	What do you think the most popular flavors are?  Fill out your bracket below.  If you get it right, we’ll give you something sweet!
</div>
	<div id="bracket" style="position:relative; height:460px; margin-left:auto; margin-right:auto; margin-top:20px;  width:930px;">

		<!--Sweet Sixteen -->
		<div class="flavorOptionsOn" onclick="ssOne.advance('favorite')"  id="ssOneFavorite" style="top:0px; left:0px">Chocolate</div>
		<div class="flavorOptionsOn" onclick="ssOne.advance('underdog')"  id="ssOneUnderdog" style="top:50px; left:0px">King Cake</div>

		<div class="flavorOptionsOn" onclick="ssTwo.advance('favorite')" id="ssTwoFavorite" style="top:120px; left:0px">Vanilla</div>
		<div class="flavorOptionsOn" onclick="ssTwo.advance('underdog')" id="ssTwoUnderdog" style="top:170px; left:0px">Strawberry</div>

		<div class="flavorOptionsOn"  onclick="ssThree.advance('favorite')"  id="ssThreeFavorite" style="top:240px; left:0px">Wedding Cake</div>
		<div class="flavorOptionsOn" onclick="ssThree.advance('underdog')"  id="ssThreeUnderdog" style="top:290px; left:0px">16_12</div>

		<div class="flavorOptionsOn" onclick="ssFour.advance('favorite')"  id="ssFourFavorite" style="top:360px; left:0px">Tiramisu</div>
		<div class="flavorOptionsOn" onclick="ssFour.advance('underdog')"  id="ssFourUnderdog" style="top:410px; left:0px">16_10</div>

		<div  class="flavorOptionsOn" onclick="ssFive.advance('favorite')"  id="ssFiveFavorite" style="top:0px; right:0px">Mint</div>
		<div class="flavorOptionsOn" onclick="ssFive.advance('underdog')"  id="ssFiveUnderdog" style="top:50px; right:0px">Peanut Butter</div>
		
		<div class="flavorOptionsOn" onclick="ssSix.advance('favorite')"  id="ssSixFavorite" style="top:120px; right:0px">Blueberry</div>
		<div  class="flavorOptionsOn" onclick="ssSix.advance('underdog')"  id="ssSixUnderdog" style="top:170px; right:0px">Cookies n Cream</div>
		
		<div class="flavorOptionsOn" onclick="ssSeven.advance('favorite')"  id="ssSevenFavorite" style="top:240px; right:0px">Salted Caramel</div>
		<div  class="flavorOptionsOn" onclick="ssSeven.advance('underdog')"  id="ssSevenUnderdog" style="top:290px; right:0px">StrawberryCheesecake</div>

		<div  class="flavorOptionsOn" onclick="ssEight.advance('favorite')"  id="ssEightFavorite" style="top:360px; right:0px">Espresso</div>
		<div  class="flavorOptionsOn" onclick="ssEight.advance('underdog')"  id="ssEightUnderdog" style="top:410px; right:0px">Espresso</div>
		
		<!--Elite Eight -->
		  <div  class="flavorOptionsInactive" onclick="eeOne.advance('favorite')"  id="eeOneFavorite" style="top:27px; left:155px"></div>
		  <div   class="flavorOptionsInactive"  onclick="eeOne.advance('underdog')" id="eeOneUnderdog" style="top:147px; left:155px"></div>

 		  <div  class="flavorOptionsInactive"  onclick="eeTwo.advance('favorite')" id="eeTwoFavorite" style="top:267px; left:155px"></div>
		  <div  class="flavorOptionsInactive"  onclick="eeTwo.advance('underdog')" id="eeTwoUnderdog" style="top:387px; left:155px"></div>

		  <div  class="flavorOptionsInactive"  onclick="eeThree.advance('favorite')" id="eeThreeFavorite" style="top:27px; right:155px"></div>
		  <div  class="flavorOptionsInactive"  onclick="eeThree.advance('underdog')" id="eeThreeUnderdog" style="top:147px; right:155px"></div>

		  <div  class="flavorOptionsInactive"  onclick="eeFour.advance('favorite')" id="eeFourFavorite" style="top:267px; right:155px"></div>
		  <div  class="flavorOptionsInactive"  onclick="eeFour.advance('underdog')" id="eeFourUnderdog" style="top:387px; right:155px"></div>

		  <div class="eeVerticalLine" style="left:225px; top:81px;"></div>
		  <div class="eeVerticalLine" style="left:225px; top:324px;"></div>
		  <div class="eeVerticalLine" style="right:225px; top:81px;"></div>
		  <div class="eeVerticalLine" style="right:225px; top:324px;"></div>

		  <!--Final Four -->
		  <div  class="flavorOptionsInactive" onclick="ffOne.advance('favorite')"  id="ffOneFavorite" style="top:87px; left:282px"></div>
		  <div   class="flavorOptionsInactive"  onclick="ffOne.advance('underdog')" id="ffOneUnderdog" style="top:327px; left:282px"></div>

 		  <div  class="flavorOptionsInactive"  onclick="ffTwo.advance('favorite')" id="ffTwoFavorite" style="top:87px; right:282px;"></div>
		  <div  class="flavorOptionsInactive"  onclick="ffTwo.advance('underdog')" id="ffTwoUnderdog" style="top:327px; right:282px;"></div>

		    <div class="ffVerticalLine" style="left:351px; top:140px;"></div>
		   <div class="ffVerticalLine" style="right:351px; top:140px;"></div>

		  <!--Championship -->
		   <div  class="flavorOptionsInactive"  id="championshipFavorite" style="top:177px; left:400px;"></div>
		  <div  class="flavorOptionsInactive"   id="championshipUnderdog" style="top:232px; left:400px;"></div>

		 
	</div>





</body>

</html>
