
<!DOCTYPE html>
<%
flavors = ["Chocolate", "Vanilla", "Salted Caramel"];
%>
<html>
<head>
	<script>
function numberSorter(a, b) {
  return a - b;
}
	
	var round = 1;
	var roundMatchups = 8;
	var roundMatchupNumber = 1;
	var seedLeft = 0;
	var seedRight = 15;
	var winningSeeds = new Array();
var sweetSixteen = ["Chocolate", "Cookie & Cream", "Vanilla","Wedding Cake", "Nutella Marshmallow", "Strawberry","Salted Caramel", "King Cake", "Mint Chocolate Chip","Peanut Butter Chocolate Chip", "Blueberry Cheesecake", "Espresso", "Apple Pie", "14 seed", "15 seed", "16 seed"];
var eliteEight = new Array();
var finalFour = new Array();
var championship = new Array();
var activeBracket = sweetSixteen;
	function initializeVoter(){

			for (index = 0; index < sweetSixteen.length; ++index) {
				var n = index + 1;
				var str = '16_' + n;
				
				document.getElementById(str).innerHTML = sweetSixteen[index];
				
			}


document.getElementById('matchupLeft').innerHTML = sweetSixteen[0];  
document.getElementById('matchupRight').innerHTML = sweetSixteen[15]; 
	}
	
	function vote(vote){
		if(vote == "left"){
			winningSeeds.push(seedLeft); 
		}
		else{
			winningSeeds.push(seedRight); 
		}
		seedLeft++
		seedRight--;
		roundMatchupNumber++;
		
		if(roundMatchupNumber > roundMatchups){
			generateNextRound();
		}
		else{
			presentNextMatchup();
		}
	}

	function presentNextMatchup(){
		if(round==5){presentWinner();}
		else{
			document.getElementById('matchupLeft').innerHTML = activeBracket[seedLeft]; 
			document.getElementById('matchupRight').innerHTML = activeBracket[seedRight]; 
		}
	}

	function presentWinner(){
			document.getElementById('winner').innerHTML = championship[seedLeft]; 
			document.getElementById('winner').style.display = "block";
			document.getElementById('matchups').style.visibility = "hidden";
	}

	function generateNextRound(){

			round++;
			roundMatchups = winningSeeds.length / 2;
			activeBracket = [];
			seedLeft = 0;
			seedRight = winningSeeds.length - 1;
			roundMatchupNumber = 1;
			
			//console.log(winningSeeds);
			winningSeeds.sort(function(a,b){return a - b});
			//console.log(winningSeeds);

			if(round == 2){ ///Eite Eight
			for (index = 0; index < winningSeeds.length; ++index) {
    			eliteEight.push(sweetSixteen[winningSeeds[index]]);
			}
			populateEliteEight();
			document.getElementById('round').innerHTML= "Elite Eight";
			activeBracket = eliteEight;
		}

			if(round == 3){ //Final Four
			for (index = 0; index < winningSeeds.length; ++index) {
				
    			finalFour.push(eliteEight[winningSeeds[index]]);
			}
			activeBracket = finalFour;
		
			document.getElementById('round').innerHTML= "Final Four";
		}


			if(round == 4){ //championship
			for (index = 0; index < winningSeeds.length; ++index) {
				
    			championship.push(finalFour[winningSeeds[index]]);
    				
			}
			activeBracket = championship;
			document.getElementById('round').innerHTML= "Championship!";
		}
		

			winningSeeds = [];

			presentNextMatchup();
	}

	function populateEliteEight(){

			for (index = 0; index < eliteEight.length; ++index) {
				var n = index + 1;
				var str = '8_' + n;
				console.log(winningSeeds);
				document.getElementById(str).innerHTML = eliteEight[index];
				
			}
	}

	function myFunction(id)
{
	var flavorChoice;
	if(document.getElementById(id).className == "flavorOptionsOn"){
		document.getElementsByClassName('your class');  
	}
	if(flavorChoice)
	document.getElementById(flavorChoice).className = "flavorOptionsOff";
	else
	document.getElementById("sectionTwo").style.visibility = "visible";

flavorChoice = id;
document.getElementById(flavorChoice).className = "flavorOptionsOn";

}

</script>
<title>Atomic Burger Sweet Sixteen Tournament</title>
</head>

<body onload="initializeVoter();">
<div class="header"><div class="logo"></div></div>
<div style="height:5px; background-color:#B68076;"></div>
<div class="blueSubHeader"><div class="subHeaderText">Sweet Sixteen Tournament</div></div>

<div class="container">
<div class="section" style="display:none;" id="winner"></div>
<div class="circleNumber" id="round" style="height:20px; width:500px;font-size:18px; color:#555;margin-left:auto; margin-right:auto; text-align:center;">Sweet Sixteen</div>
<div class="section" id="matchups" style="width:470px; margin-top:15px; margin-left:auto; margin-right:auto; height:150px;">

	<div id="matchupLeft" class="flavorOptionsOff" onclick="vote('left')"></div>
	<div class="circleNumber" style="float:left; padding-top:5px; margin-left:12px; text-align:center; color:#333;">vs</div>
	<div id="matchupRight" class="flavorOptionsOff" style="float:right" onclick="vote('right')"></div>
	<div style="clear:both"></div>
</div>
</div>



<div class="section" style="visibility:hidden">
	<div class="circle"><span class="circleNumber">1</span></div>
	<div class="sectionTitle">What's your favorite flavor?</div>
	<div class="flavorOptionsSection">
		<% flavors.each do |flavor| %>
		<div onclick="myFunction('<%= flavor %>')" class="flavorOptionsOff" id="<%= flavor %>">
			<%= flavor %>
		</div>
		<% end %>
		
	</div>
	<div style="clear:both"></div>
</div>

<div class="section" id="sectionTwo">
	<div class="circle"><span class="circleNumber">2</span></div>
	

	<table>
		<tr>
	<td class="flavor off" id="16_1">16_1</td>
   <td ></td>
  <td ></td>
   <td ></td>
   <td></td>
  <td>8_5</td>
  <td  class="flavor off" id="16_2">16_2</td>
</tr>

<tr>
		<td class="flavor off" id="16_16">16_16</td>
  <td class="flavor on" id="8_1"></td>
  <td></td>
   <td ></td>
    <td class="flavor off" style="position:relative; top:30px;"></td>
  <td class="flavor on" id="8_3"></td>
 	<td class="flavor off" id="16_15" >16_15</td>
</tr>


<tr>
		<td class="flavor off" id="16_3">16_3</td>
   <td class="flavor off" id="8_8"></td>
   <td class="flavor off" style="position:relative; bottom:30px;"></td>
   <td class="flavor off" style="position:relative; top:50px;"></td> 
    <td ></td>
  <td class="flavor off" id="8_6"></td>
 	<td class="flavor off" id="16_4">16_4</td>
</tr>
<tr>
	<td class="flavor off" id="16_14">16_14</td>
   <td ></td>
  <td ></td>
   <td ></td>
   <td></td>
  <td>8_5</td>
  <td  class="flavor off" id="16_13">16_13</td>
</tr>

<tr>
		<td class="flavor off"id="16_5" >16_5</td>
   <td class="flavor off" id="8_2"></td>
<td class="flavor off" style="position:relative; top:30px;"></td>
 <td ></td>
<td class="flavor off" style="position:relative; top:30px;"></td>
  <td class="flavor off" id="8_4"></td>
 	<td class="flavor off" id="16_6">16_6</td>
</tr>
<tr>
		<td class="flavor off" id="16_12" >16_12</td>
   <td class="flavor off" id="8_7" ></td>
  <td ></td>
   <td ></td>
   <td></td>
  <td class="flavor off" id="8_5"></td>
	<td class="flavor off" id="16_11" >16_11</td>
</tr>
<tr>
	<td class="flavor off" id="16_7" >16_7</td>
   <td ></td>
  <td ></td>
   <td ></td>
   <td></td>
  <td>8_5</td>
  <td  class="flavor off" id="16_8">16_8</td>
</tr>
<tr>
	<td class="flavor off" id="16_10">16_10</td>
   <td ></td>
  <td ></td>
   <td ></td>
   <td></td>
  <td>8_5</td>
  <td  class="flavor off" id="16_9">16_9</td>
</tr>
</table>


<div style="clear:both"></div>
</div>

<div class="section" style="visibility:hidden">
	<div class="circle"><span class="circleNumber">3</span></div>
	<div class="sectionTitle">Enter your email</div>
<div style="clear:both"></div>
</div>

<div class="section">
<div class="btnSubmit">
	submit
</div>
</div>
</body>

</html>
